<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ridgelineapps.resdicegame"
    android:versionCode="13"
    android:versionName="1.12" >
    
    <uses-sdk android:minSdkVersion="7"/>
    
       <!-- supports-screens 
        android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true" / 
        -->
    

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.ridgelineapps.resdicegame.MainActivity"
            android:label="@string/app_name"
           	android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" 
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ridgelineapps.resdicegame.About"
            android:label="@string/app_name" 
        	android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"          
            />
        <activity android:name="com.ridgelineapps.resdicegame.Rules"
            android:label="@string/app_name" 
        	android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"          
            />
        <activity android:name="com.ridgelineapps.resdicegame.HighScores"
            android:label="@string/app_name" 
        	android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"          
            />
        </application>

</manifest>